[Unit]
Description=ControlPiService
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=controlpi
Restart=always
ExecStart=/usr/bin/ControlPi

[Install]
WantedBy=multi-user.target
